---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Engraver'
    value: page.engraver
  - label: 'Date'
    value: page._date
  - label: 'Transcription'
    value: page.transcription
  - label: 'Publisher'
    value: page.publisher
  - label: 'Publication Place'
    value: page.publication_place
  - label: 'Source'
    value: page.source
  - label: 'Call number'
    value: page.lib_id
  - label: 'Source text'
    value: page.source_text
    type:  link
---

<h3>Other Plates</h3>

{% include collection_gallery.html facet_by='image_no' only=page.image_no collection='pamela' %}
